<div class="dashboard-container">
    <h2>Announcements</h2>
    <div class="announcements-list" *ngIf="announcements.length > 0; else noAnnouncements">
        <div *ngFor="let announcement of announcements" class="announcement-card"
            [routerLink]="['/announcements', announcement.id]">
            <div class="announcement-photo">
                <img *ngIf="announcement.photo" [src]="announcement.photo" alt="Photo" />
                <img *ngIf="!announcement.photo" src="assets/no_image.jpg" alt="No Image Available" />
            </div>
            <div class="announcement-details">
                <h3 class="title">{{ announcement.title }}</h3>
                <p class="price">{{ announcement.price | currency }}</p>
                <p class="location"><strong>Location:</strong> {{ announcement.location }}</p>
            </div>
        </div>
    </div>
    <ng-template #noAnnouncements>
        <p>No announcements available.</p>
    </ng-template>
</div>